@import './theme.css';
@import './presets/caomei.css';
@import './presets/momei.css';

.caomei-root {
    font-family: var(--caomei-font-sans);
    color: var(--caomei-color-text);
    background: var(--caomei-color-bg);
}
